.tasksList{
    background-color: white;
    margin: 0px 40px;
    float: left;
    width: 40%;
    border-radius: 5px;
}

.tasksItem{
    margin: 20px;
    border: 2px solid #eee;
    border-radius: 10px;
}

.listTitle {
    padding-top: 20px;
    text-align: left;
    margin-left: 20px;
    color:#219EBC;
}